<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${person.getName()}">Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container-fluid">
    <div class="row">
        <nav class="col-3 flex-column bg-white">
            <a class="nav-link active bg-primary text-white" aria-current="page" href="#">User</a>
        </nav>
        <nav class="col flex-column">
            <h2>User information-page</h2>
            <div class="row-cols-auto  bg-white no-gutters">
                <div class="col-12 bg-light border">
                    <h5 class="pl-3 pt-2 pb-2">About user</h5>
                </div>
                <div class="col-12 pl-3 pr-3 pt-3 border">
                    <table class="table table-striped ">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Имя</th>
                            <th>Фамилия</th>
                            <th>Роли</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td th:text="${person.id}"></td>
                            <td th:text="${person.name}"></td>
                            <td th:text="${person.lastname}"></td>
                            <td>
                                <div class="d-inline" th:each="role : ${person.getRoles()}">
                                    <p class="d-inline" th:text="${role}"></p>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </nav>
    </div>
</div>
</body>
</html>